@media only screen and (max-width: 1024px) and (min-width:769px) {
        
        .pro_leftsideimg{
            left: 20px !important; 
            top: 868px !important; 
            height: 210vh !important;
            
        }
        
        .pro_projects_text{
            margin-top: 230px !important;
        }
    } 
    @media only screen and (max-width: 768px) and (min-width:601px) {
        .pro_carousel {
            display: flex !important;
            flex-direction: column !important;
        }
        .pro_photo{
            height: 42vh !important;
        }
        .pro_leftsideimg{
            left: 20px !important; 
            top: 863px !important; 
            height: 300vh !important;
            
        }
        .pro_slider_buttons .pro_button {
            width: 43.8px !important;
        }
        .pro_projects_text{
            margin-top: 230px !important;
        }
    }
   @media only screen and (max-width: 600px) {
        
        .pro_leftsideimg{
            position: absolute;
            left: 20px !important; 
            top: 700px !important; 
            width:12%;
            
        }
       
        .pro_projects_text{
            width: 183px;
            font-size: 20px !important;
            font-family: Open Serif;
            transform: rotate(-90deg);
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.4);
            position: absolute;
            margin-top: 220px !important;
            margin-left: -40px !important;
            font-weight: bolder;
        }
        .pro_slider_buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            cursor: pointer;
            
        }
        .blog button{
            border:none;
            display: block;
            background: transparent;
            outline: none;
            cursor: pointer;
            width: 26.8px;
            height: 51.h29px;
            display: none !important;
        }

        .pro_photo{
            background: #c4c4c4;   
            width: 390px;
            height: 420px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pro_info p{
            width: 100% !important;
            text-align: center;
        }
        .pro_info{
            width: 150px !important;
            height: 50px !important;
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .pro_screen{
            
            width: 100px !important;
            display: none !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .pro_carousel{
        /* display: flex; */
            padding-left: 85px !important;
        }
        .pro_slider{
            width: 276px !important;
            height: 408px !important;
            background: #0094FF;
            font-size: 14px !important;
            justify-content: center;
            align-items: center;
            margin-top: 200px !important;
        }
    }

    .pro_flex{
        display: flex;
    }
   

    .pro_photo{
        background: #c4c4c4;   
        width: 26vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    .pro_info p{
        width: 26vw;
        text-align: center;
        
    }
    .pro_info{
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .pro_screen{
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .pro_slider{
        width: 70vw;
        height: 538px;
        background: #0094FF;
        margin-top: 154px;
        display: flex;
    }
    .pro_carousel{
        padding-left: 205px;
    }
    .pro_leftsideimg{
        position: absolute;
        left: 50px; 
        top: 745px; 
        height: 390vh;
          
    }
    .pro_projects_text{
        width: 183px;
        font-size: 30px;
        font-family: Open Serif;
        transform: rotate(-90deg);
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.4);
        position: absolute;
        margin-top: 308px;
        margin-left: 35px;
        font-weight: bolder;
    }







    @media only screen and (max-width: 600px) {
        .pro_carousel{
            display: block !important;
        }
    }  
    .pro_carousel{
        display: flex;
    }
     .pro_slider_buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 50px;
        cursor: pointer;
        
    }
    .pro_carousel button{
        border:none;
        display: flex;
        background: transparent;
        outline: none;
        cursor: pointer;
        width: 26.8px;
        height: 51.29px;
    }

